.classpath
.project
*.class
*.DS_Store
/source/com/BombingGames/NormalMapPrototype/nbproject/private/
/source/com/BombingGames/NormalMapPrototype/build/
/source/com/BombingGames/NormalMapPrototype/dist/
/source/com/BombingGames/NormalMapPrototype/hs_err_pid*.log

sprites/caveland/SpritesheetD.png
sprites/caveland/SpritesheetNormal.png